__pycache__/
venv/
.env
*.log
*.db
.DS_Store
.idea/
*.pyc
*.pyo
__pycache__/
dist/
build/
*.egg-info/
k8s-secrets.yaml
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup